In [4]:
import pandas as pd

df = pd.read_csv('cleaned_data/cycling.csv')
df.head()

,sourceVersion,creationDate,startDate,endDate,miles
0,NaN,2015-05-24 07:52:21-07:00,2015-05-24 07:52:09-07:00,2015-05-24 07:52:21-07:00,0.000446
1,NaN,2015-05-24 07:52:27-07:00,2015-05-24 07:52:21-07:00,2015-05-24 07:52:27-07:00,0.000634
2,NaN,2015-05-24 07:52:33-07:00,2015-05-24 07:52:27-07:00,2015-05-24 07:52:33-07:00,0.000631
3,NaN,2015-05-24 07:52:38-07:00,2015-05-24 07:52:33-07:00,2015-05-24 07:52:38-07:00,0.000784
4,NaN,2015-05-24 07:52:44-07:00,2015-05-24 07:52:38-07:00,2015-05-24 07:52:44-07:00,0.001128

# Initial Cycling Analysis

## Daily totals

- Sum up miles by `startDate` day
- Calculate differences in time between startDate/endDate, place in new column as seconds
- Calculate daily total seconds