In [10]:
import datetime as dt
import pandas as pd

# start with daily summaries
df = pd.read_csv('cleaned_data/daily_walking_running.csv', parse_dates=['startDate'])
df.head()

   startDate     miles  seconds
0 2014-09-19  0.433183    440.0
1 2014-09-20  0.919685    893.0
2 2014-09-21  0.689467    825.0
3 2014-09-22  0.334609    422.0
4 2014-09-23  1.464743   1331.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3593 entries, 0 to 3592
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   startDate  3593 non-null   datetime64[ns]
 1   miles      3593 non-null   float64
 2   seconds    3593 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 84.3 KB