In [2]:
import pandas as pd

file = '../../tmp/fact_health_activity.csv'
df = pd.read_csv(file)
df.head()

,type,sourceName,unit,creationDate,startDate,endDate,value
0,HKQuantityTypeIdentifierHeartRate,Brandon's Apple Watch,count/min,2022-12-29 14:35:39-07:00,2022-12-29 14:31:44-07:00,2022-12-29 14:31:44-07:00,104.0
1,HKQuantityTypeIdentifierHeartRate,Brandon's Apple Watch,count/min,2022-12-28 06:19:24-07:00,2022-12-28 06:19:23-07:00,2022-12-28 06:19:23-07:00,82.0
2,HKQuantityTypeIdentifierHeartRate,Brandon's Apple Watch,count/min,2022-12-28 06:28:47-07:00,2022-12-28 06:28:46-07:00,2022-12-28 06:28:46-07:00,78.0
3,HKQuantityTypeIdentifierHeartRate,Brandon's Apple Watch,count/min,2022-12-28 06:29:08-07:00,2022-12-28 06:13:11-07:00,2022-12-28 06:13:11-07:00,68.0
4,HKQuantityTypeIdentifierHeartRate,Brandon's Apple Watch,count/min,2022-12-28 06:33:52-07:00,2022-12-28 06:29:23-07:00,2022-12-28 06:29:23-07:00,73.0