In [2]:
import datetime as dt
import pandas as pd

# start with daily summaries
df = pd.read_csv('cleaned_data/daily_heart_rate.csv', parse_dates=['start_date'])
df.head()

  start_date  beats_per_min
0 2014-09-27          180.0
1 2014-09-28          310.0
2 2014-09-30          307.0
3 2014-10-03           92.0
4 2014-10-04           96.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3593 entries, 0 to 3592
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_date  3593 non-null   datetime64[ns]
 1   miles       3593 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 56.3 KB