In [2]:
import datetime as dt
import pandas as pd

# start with daily summaries
df = pd.read_csv('cleaned_data/daily_walking_running.csv', parse_dates=['start_date'])
df.head()

  start_date     miles
0 2014-09-19  0.433183
1 2014-09-20  0.919685
2 2014-09-21  0.689467
3 2014-09-22  0.334609
4 2014-09-23  1.464743

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3593 entries, 0 to 3592
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_date  3593 non-null   datetime64[ns]
 1   miles       3593 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 56.3 KB